<a href="https://colab.research.google.com/github/RogerMoi26/Discrete_Math-1/blob/master/Copy_of_RogerMoison_CPSMA3913_ProjectPart_6_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part # 6: CPSMA 3133 [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics 

## Numbers

### Roger Moison and 282541

So this week definatey not as fun and engaging as the res just a whole lot of  Numbers!...get it cause the project is called numbers. Dont worry I know that was a terrible pun. Anyway moving on....
My finding will be throughout the project.

## (a) Converting the number into base 10. $$24036_7$$

So for this we are asked to convert $$24036_7$$
into base ten the conversion into base ten is 6201.

In [ ]:
print("Enter the number you want to convert to base 10: ")
number = input()

length = len(number)
print("Enter the base of the number: ")
base = input()
s = 0
for i in range(len(number)):
    length = length - 1
    
    s = number[i] * (int(base) ** length) 
    s += s

digits = {c: i for i, c in enumerate('0123456789abcdefghijklmnopqrstuvwxyz')}

s = 0
base = int(7)
for i, digit in enumerate(reversed(number.lower())):
  s += digits[digit] * (base ** i)
  


def parse_number(number, base):
    return sum(digits[digit] * (base ** i)
               for i, digit in enumerate(reversed(number.lower())))

print(parse_number(number, int(base)))
print(s)

Enter the number you want to convert to base 10:
24036
Enter the base of the number:
7
6201
6201

So with the code I got the same answer so cool we are on the right track.

To be honest had no clue how to even go about making this so thankfully there was somone who had it already here is the link so yall dont mistake their good work for mine. 
Here's the link to the Stackoverflow:
https://stackoverflow.com/questions/26929227/base-converter-in-python

#(b) Convert the hexdec number

For this we are asked to convert 72e3 or 0x72e3 into base ten.
So for practices sake im going to do both so lets see what happens.


**Incorrect**

In [ ]:
72e3

72000.0

**Corrct**

In [ ]:
0x72e3
#^ (0x) we need this in the code*

29411

These worked because pyhton can automaticlly detect hexdecimal in the code. as long as you use the prefix 0x the code without would be incorrect.
but I think we can do better.

In [ ]:
x = int("72e3",16)

In [ ]:
print(int("0x72e3",0))

29411

## (c) Convert into Hexdecimal

Now for the opposite now we are converting to hexdecimal. Using 3735928559
if we do this correctly it will output "deadbeef".

Luckly we have a built in way to do this so its not overly complicated.

In [ ]:
hex(3735928559)

'0xdeadbeef'

and look at that we have deadbeef as the output but we can also see that the prefix is thier as well "0x".

# (d) Subtraction using two's complement

Okay for the last question we are asked to Use two's complement 25 - 37. hmmm looks familiar just slightly different from this week disscusion board.

So let first get them into binary 25 = 00011001 -37 = 11011010 but since its a negative its actually 100101.

011001-100101=-001100|011001+011011=110100

25 - 37 = -12 that translated into binary would be 00001100 is actually 12 but since we are dealing with a neg its -12.

The code below is to check my work nothing more.

In [ ]:

def addone(list7binary):
  counter = 7
  list7binary[counter] = str(1 + int(list7binary[counter]))
  while list7binary[counter]=='2':
    list7binary[counter] = '0'
    counter -= 1
    list7binary[counter] = str(1 + int(list7binary[counter]))
  return list7binary

addone(['0','1','1','1','1','1','1','1'])

['1', '0', '0', '0', '0', '0', '0', '0']

In [ ]:

def flipit(list7binary):
  newlist = []
  for i in list7binary:
    if i == '0':
      newlist.append('1')
    else:
      newlist.append('0')
  return newlist

flipit(['0','1','1','1','1','1','1','1'])

['1', '0', '0', '0', '0', '0', '0', '0']

In [ ]:
def twoscomplement(x):
  if not (x>-128)&(x<127):
    return "No Two's Complement"
  ans = '00000000'
  ans = list(ans) #strings don't allow you to change them in place (immutable) but lists can be!
  counter = 7
  if x>=0:
    while x != 0:
      ans[counter] = str(x%2)
      x = floor(x/2)
      counter -= 1
  if x<0:
    x = abs(x)
    while x != 0:
      ans[counter] = str(x%2)
      x = floor(x/2)
      counter -= 1
    ans = flipit(ans)
    addone(ans)        
  ans = ''.join(ans)
  return ans

In [ ]:
twoscomplement(-12)

'11110100'

128,64,32,16,8,4,2,1 -> 0+0+0+0+8+4+0+0 = 12 and all we do is slap a - on there and we get out -12  this -00001100 is our answer cause if we flip 00001100 we get 11110100 the answer above.

Alright that that all I have for this week lemme know how I did or didnt do.