<a href="https://colab.research.google.com/github/RogerMoi26/Discrete_Math-1/blob/master/Copy_of_RogerMoison_CPSMA3913_ProjectPart_7_Logic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part # 7: CPSMA 3133 [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics 

## Logic

## My family

### Roger Moison and 282541

Everything for part two will be answered throughout part one.

# 1 Creating a truth table

Now for the fun part of Logic I will create so propostions about my family.

## (a) The three propositions

In [2]:
WillHaveABabyBoyNext = True
WillHaveABabyGirlNext = False
WillHaveTwinsNext = True

Needless to say I am a little bias with this as I want a baby boy and we have already had twins before but we miscarried so the potential for having twins again is pretty good as I am a twin myself.

#(b) Compute the truth of the statement r ∧ p, r ∨ ¬q and r ⇒ p.

$$WillHaveTwinsNext∧WillHaveABabyBoyNext$$

In [10]:
(WillHaveABabyGirlNext) and (WillHaveABabyBoyNext)

False

$$WillHaveTwinsNext ∨ ¬ WillHaveABabyGirlNext$$

In [11]:
(WillHaveABabyGirlNext) or not (WillHaveTwinsNext)

False

$$WillHaveTwinsNext ⇒ WillHaveABabyBoyNext$$

In [12]:
def implies(WillHaveTwinsNext,WillHaveABabyBoyNext):
  return (WillHaveTwinsNext) or WillHaveABabyBoyNext

implies(WillHaveTwinsNext,WillHaveABabyBoyNext)

True

I think I did that correct... Looks correct.

# (c) Compute a complete truth table for $$¬ (r ⊕ p) ⇒ (p ∨ q)$$

Im

In [13]:
values = [True,False]
table = []

for r in values:
  for p in values:
    for q in values: 
      row =[]
      row.append(r)
      row.append(p)
      row.append(q)
      row.append(not(r))
      row.append(not(r) or not (p))
      row.append(q or p)
      row.append(implies(not(r) or not(p),q or p))
      table.append(row)

In [14]:
import pandas as pd

df = pd.DataFrame(table,columns = ['r','p','q','¬r','¬r V p','p ∨ q','¬(r ⊕ p) ⇒ (p ∨ q)'] )
df

       r      p      q     ¬r  ¬r V p  p ∨ q  ¬(r ⊕ p) ⇒ (p ∨ q)
0   True   True   True  False   False   True                True
1   True   True  False  False   False   True                True
2   True  False   True  False    True   True                True
3   True  False  False  False    True  False                True
4  False   True   True   True    True   True                True
5  False   True  False   True    True   True                True
6  False  False   True   True    True   True                True
7  False  False  False   True    True  False                True

In [ ]:
print(df.to_markdown(index = False))

|   r |   p |   q |   ¬r |   ¬r V p |   p ∨ q |   ¬(r ⊕ p) ⇒ (p ∨ q) |
|----:|----:|----:|-----:|---------:|--------:|---------------------:|
|   1 |   1 |   1 |    0 |        0 |       1 |                    1 |
|   1 |   1 |   0 |    0 |        0 |       1 |                    1 |
|   1 |   0 |   1 |    0 |        1 |       1 |                    1 |
|   1 |   0 |   0 |    0 |        1 |       0 |                    1 |
|   0 |   1 |   1 |    1 |        1 |       1 |                    1 |
|   0 |   1 |   0 |    1 |        1 |       1 |                    1 |
|   0 |   0 |   1 |    1 |        1 |       1 |                    1 |
|   0 |   0 |   0 |    1 |        1 |       0 |                    1 |